<!DOCTYPE html>
<html>
<head>
<title>TweetMap</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<style>
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
</style>
</head>
<body>

<div id="selectOption" class = "threeDLook" align="left" id="hover" style="position: absolute; left:10px; top:60px; z-index:20; width: 100px;background:white;">
	<select name="options" onchange="report(this.value)">
		<option value="">Please select</option>
		<option value="Love">Love</option>
		<option value="Food">Food</option>
		<option value="Tech">Tech</option>
		<option value="Sport">Sport</option>
		<option value="Travel">Travel</option>
		<option value="Dog">Dog</option>
		<option value="LOL">LOL</option>
		<option value="Awesome">Awesome</option>
		<option value="Hillary">Hillary</option>
		<option value="Donald">Donald</option>
	</select>
</div>

<div id="map"></div>
<script>
var parseJSONTimeoutVar;
var update_timeout = null;
$('#textBox').submit(function () {
	return false;
});

function report(value)
{
	loadMapWithKeyword(value);
}
var map;
var url;
var markers = [];
function setMapOnAll(map) {
	for (var i = 0; i < markers.length; i++) {
		markers[i].setMap(map);
	}
}
function clearMarkers() {
	setMapOnAll(null);
}
function deleteMarkers() {
	clearMarkers();
	markers = [];
}
function parseJSON(data, status, xhr){
	for (var i = 0; i < data.total; i++)
	{
		if (data.hits[i] && data.hits[i]._source && data.hits[i]._source.location)
		{

			var latLng = new google.maps.LatLng(20,30);
			var marker = new google.maps.Marker({
				position: latLng,
				map: map,
				id: i,
                text: "xxxx"
			});
			marker.addListener('click', function() {
				map.setZoom(8);
				map.setCenter(this.getPosition());
			});
			marker.addListener('mouseover', function() {
				var infowindow = new google.maps.InfoWindow({
					content: this.text
				});
				infowindow.open(map, this);
				this.addListener('mouseout', function() {
					infowindow.close();
				});
			});
			markers.push(marker);
		}
	}
}
function pseudoLoadMapWithKeyword(keyword)
{
	url = 'json/'.concat(keyword).concat('/');
	var data;
	deleteMarkers();
	$.getJSON(url, data, parseJSON); //callback
	parseJSONTimeoutVar = setTimeout(function(){pseudoLoadMapWithKeyword(keyword);},5000);
}
function loadMapWithKeyword(keyword)
{
	clearTimeout(parseJSONTimeoutVar);
	pseudoLoadMapWithKeyword(keyword)
}
function pseudoLoadMapWithLatLong(latitude, longitude)
{
	url = 'geo/'.concat(latitude).concat('/').concat(longitude).concat('/');
	var data;
	deleteMarkers();
	$.getJSON(url, data, parseJSON);
	parseJSONTimeoutVar = setTimeout(function(){pseudoLoadMapWithLatLong(latitude, longitude);},5000);
}
function loadMapWithLatLong(latitude, longitude)
{
	clearTimeout(parseJSONTimeoutVar);
	pseudoLoadMapWithLatLong(latitude, longitude);
}
function initMap() {
	map = new google.maps.Map(document.getElementById('map'), {
		zoom: 2,
		center: new google.maps.LatLng(0,0),
		mapTypeId: 'terrain'
	});
	url = 'json//';
	google.maps.event.addListener(map, 'click', function(event){
		latLong = event.latLng;
		update_timeout = setTimeout(function(){
		  coordinates = event.latLng;
		  latitude = coordinates['lat']()
		  longitude = coordinates['lng']()
		  loadMapWithLatLong(latitude, longitude);
    	}, 200);
	});
	//Ignore double clicks
	google.maps.event.addListener(map, 'dblclick', function(event) {
    	clearTimeout(update_timeout);
	});
	var data;
	deleteMarkers();
	$.getJSON(url, data, parseJSON);
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA86DftYrnOQAiyLBB2HDPC3JMZOFLG55s&callback=initMap">
</script>
</body>
</html>
